.performance__author {
  margin: 0;
  font-family: 'Formular';
  font-size: 16px;
  line-height: 22px;
  opacity: 0.8;
  grid-column-start: 1;
  grid-column-end: 3;
}

@media (min-width: 1080px) {
  .performance__author {
    padding-left: 30px;
  }
}
