.page {
  font-family: 'Neue Machina', 'Formular', Arial, sans-serif;
  margin: 0 auto;
  /* min-width: 414px; */
  max-width: 1440px;
  margin: 0;
  padding: 0;
  position: relative;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ECEBE8;
  min-width: 320px;
  width: 100%;
}
