.about-project__title {
  font-family: 'Neue Machina', Arial, sans-serif;
  font-size: 40px;
  line-height: 100%;
  font-weight: normal;
  letter-spacing: -.01em;
  margin: 0;
  padding-left: calc((100% - 509px)*.45 - 60px);
  padding-top: 79px;
  padding-bottom: 17px;
  text-align: left;
  max-width: 323px;
}

@media (max-width: 764px) {
  .about-project__title {
    margin-right: 67px;
    margin-left: 24px;
    padding-top: 56px;
    padding-left: 0;
  }
}
