.performance__box {
  position: relative;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 32px;
  height: 242px;
  width: 364px;
  display: grid;
  grid-template-columns: 92px 1fr;
  column-gap: 29px;
  row-gap: 40px;
}

.performance__box::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10%;
  height: 100%;
  width: 120%;
  border-bottom: 1px #242424 solid;
}

@media (min-width: 1024px) {
  .performance__box {
    height: 280px;
    width: 420px;
    padding-top: 0;
    grid-template-columns: 120px 1fr;
    row-gap: 0;
    /* 1 */
    /* margin: 0; */

  }
  .performance__box::before {
    border-bottom: unset;
    height: 95%;
    width: 100%;
    left: 30px;
    /* 2 */
    /* left: 60px; */

  }
  /* .performance__box:not(:nth-of-type(1))::before {
    border-left: 1px #242424 solid;
  } */
  .performance__box:not(:last-of-type)::before {
    border-right: 1px #242424 solid;
    /* border-right: unset; */
  }
}


