.youtube-link__header {
  margin: 0;
  max-width: 468px;
  padding-left: 6%;
  font-family: 'Neue Machina';
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.01em;
}

@media (min-width: 450px) {
  .youtube-link__header {
    padding-left: 14%;
  }
}

@media (min-width: 1080px) {
  .youtube-link__header {
    font-size: 40px;
    line-height: 40px;
    padding: 0;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
