.text-box {
  display: grid;
  grid-template-columns: 107px 1fr;
  column-gap: 46px;
  row-gap: 8px;
}

.text-box__date {
  font-family: 'Formular';
  margin: 0;
  padding-bottom: 8px;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.01em;
}

.text-box__time {
  margin: 0;
  font-family: 'Formular';
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.01em;
}

.text-box__name {
  margin: 0;
  font-family: 'Neue Machina';
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.01em;
  grid-column-start: 1;
  grid-column-end: 3;
}

.text-box__author {
  margin: 0;
  font-family: 'Formular';
  font-size: 16px;
  line-height: 22px;
  opacity: 0.8;
  grid-column-start: 1;
  grid-column-end: 3;
}

.performance__note {
  width: 150px;
  font-family: 'Formular';
  margin: 0;
  font-size: 14px;
  line-height: 17px;
  grid-column-start: 1;
  grid-column-end: 3;
}

@media (min-width: 1024px) {
  .text-box {
    row-gap: 0;
    grid-template-rows: 32px 54px 64px 50px;
  }
  .text-box__date {
    padding-bottom: 0;
  }
  .text-box__name {
    font-size: 36px;
    line-height: 38px;
  }
  .text-box__author {
  padding-left: 30px;
  }
}
