.performance {
  padding-top: 100px;
  margin: 0 auto;
}

@media (min-width: 1080px) {
  .performance {
    /* overflow-y: hidden;
    overflow-x: auto; */
    display: grid;
    grid-template-columns: repeat(auto-fill, 480px);
    justify-items: center;
    justify-content: center;

  }
}

@media (min-width: 1440px) {
  .performance {
    justify-items: unset;
  }
}
